
{% extends '_shared/_layout.twig' %}

{% block main %}

		<!-- locations -->
		<div class="container c-section">
		<!-- todo: Roep All locations op en pas de title en subtitle aan.  -->
			<h2 class="c-section__title">All Locations</h2>
			<p class="c-section__subtitle">Where do you want to live?</p>

			<div class="row justify-content-center c-section__content c-locations text-center">
				<!-- Roep alle children van All Locations op en loop ze over de lijst. Dit zijn de titels per kolom. Roep dan hiervan ook nog eens de children van op en laat deze de lijst vullen. -->
				<div class="col-12 col-sm-3 col-lg-2">
					<ul class="c-locations__list">
						<li class=" c-locations__list-item pb-2">
							<a class="c-locations__link " href="#">
								Gent
							</a>
						</li>
						<li class=" c-locations__list-item pb-2">

							<a class="c-locations__link " href="#">
								Kortrijk
							</a>
						</li>
						<li class="c-locations__list-item pb-2">
							<a class="c-locations__link " href="#">
								Brussel
							</a>
						</li>
						<li class="c-locations__list-item pb-2">

							<a class="c-locations__link " href="#">
								Lokeren
							</a>
						</li>
					</ul>
				</div>
				<div class="col-12 col-sm-3 col-lg-2">
					<ul class="c-locations__list">
						<li class="c-locations__list-item pb-2">
							<a class="c-locations__link " href="#">
								Antwerpen
							</a>
						</li>
						<li class="c-locations__list-item pb-2">

							<a class="c-locations__link " href="#">
								Gent
							</a>
						</li>
						<li class="c-locations__list-item pb-2">
							<a class="c-locations__link " href="#">
								Gent
							</a>
						</li>
						<li class="c-locations__list-item pb-2">

							<a class="c-locations__link " href="#">
								Gent
							</a>
						</li>
					</ul>
				</div>
				<div class="u-hidden col-sm-3 col-lg-2">
					<ul class="c-locations__list">
						<li class="c-locations__list-item pb-2">
							<a class="c-locations__link " href="#">
								Gent
							</a>
						</li>
						<li class="c-locations__list-item pb-2">

							<a class="c-locations__link " href="#">
								Gent
							</a>
						</li>
						<li class="c-locations__list-item pb-2">
							<a class="c-locations__link " href="#">
								Gent
							</a>
						</li>
						<li class="c-locations__list-item pb-2">

							<a class="c-locations__link " href="#">
								Gent
							</a>
						</li>
					</ul>
				</div>
				<div class="u-hidden col-sm-3 col-lg-2">
					<ul class="c-locations__list">
						<li class="c-locations__list-item pb-2">
							<a class="c-locations__link " href="#">
								Gent
							</a>
						</li>
						<li class="c-locations__list-item pb-2">

							<a class="c-locations__link " href="#">
								Gent
							</a>
						</li>
						<li class="c-locations__list-item pb-2">
							<a class="c-locations__link " href="#">
								Gent
							</a>
						</li>
						<li class="c-locations__list-item pb-2">

							<a class="c-locations__link " href="#">
								Gent
							</a>
						</li>
					</ul>
				</div>

			</div>
			<img class="col-12 mb-5" src="{{url('img/map.png')}}" alt="">


		</div>


{% endblock %}