.c-realtor {
  display: flex;
  flex-direction: column;
  font-size: .8rem;
  &__image {
    height: 15rem; 
    width: 100%;
    object-fit: cover;
    border-radius: 1rem;
    margin-bottom: 1rem;
  }


}
