.c-immo-card {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: $color-accent2 solid 1px;
  border-radius: 1.2rem;
  transition: transform 0.3s ease;
  padding: 0.5rem;
  position: relative;


  &:hover {
    transform: scale(1.1);
  }

  &__infocontainer {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;

  

    & p {
      margin: 0;
      
    }
  }

  &__heading {
    display: flex;
    flex-direction: row;
  }

  &__location {
    display: flex;
    flex-direction: row;
  }

  &__details {
    display: flex;
    flex-direction: row;
  }

  &__icons {
    display: flex;
    flex-direction: row;
  }

  &__img {
    border-radius: 1rem;
    width: 100%;
    height: 18rem;
    object-fit: cover;
    margin-bottom: 1rem;
  }

  &__heading {
    justify-content: space-between;
  }
  &__title {
    color: $color-black;
    margin-bottom: .5rem;
  }

  &__price {
    color: $color-detail;
  }

  &__location {
    font-weight: 200;
    align-items: center;
    gap: .5rem; 
    margin-bottom: 1.5rem;
    color: black;
  }

  &__details {
    font-weight: 200;
    font-size: .8rem;
    gap: 1.5rem; 
    color: black;
    & div {
      gap: .5rem;
    }

    & img {
      width: 1rem;
    }


  }

  &__tag {
    position: absolute;
    top: 1rem;
    left: 1.5rem;
    text-transform: uppercase;
    color: white;
    padding: .5rem 1rem; 
    border-radius: 1.5rem ;
    z-index: 22;

    & p {
      margin: 0; 
      font-size: .8rem;
      font-weight: 400;
    }

    &--sale {
      background-color: $color-sale;
      color: $color-rent;
      
    }

    &--rent {
      background-color: $color-rent;
      color: $color-sale;
    }
  }
}
