.c-footer {
    margin-top: auto;
    &__item{
        margin: 1.5rem;
        
    }

    &__nav {
        justify-content: center;
    }
    &__socials {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        justify-content: center;
        align-items: center;


        & p {
            margin-bottom: 0;
            font-weight: 600;
        }
    }
}